<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=2, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />


    <title>무신고가산세 계산기</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">가산세계산기proto.v</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
            {% comment %} <li class="nav-item active">
                <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
                </a>
            </li> {% endcomment %}
            <li class="nav-item">
                <a class="nav-link" href="#">무신고가산세(기한후신고)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">과소신고·초과환급신고가산세(수정신고)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">계산이력</a>
            </li>
            {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li> {% endcomment %}
            </ul>
            {% comment %} <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> {% endcomment %}
        </div>

    </nav>
          
    <div class ="container">
        <div class="row">
            <div class="col-8">
                <br>
                <h3>무신고가산세(기한후신고)</h3>

                {% comment %} <p><b>무신고가산세와 납부지연가산세</b></p> {% endcomment %}
                <P>납부해야할 세액과 일자를 입력하시면 최종 예상 가산세액은 자동 계산됩니다.</P>

            </div>           
        </div>
        <hr />
        
        <br>
        <div class ="row">   
            <div class="col-5">       
                <h5>무신고 가산세 계산</h5>
                <br>
                
                <div class="row">
                    <div class="col-5 mt-2">   
                         <p style="font-weight:600;">1. 납부해야할 세액 (대상금액) </p>
                    </div>

                    <div class="col-6">   
                        <form>
                            <div class="form-group">
                                {% comment %} <label for="norepo_taxtobepaid"> 납부해야할 세액 (대상금액)</label> {% endcomment %}
                                <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" placeholder="납부해야할 세액(대상금액)을 입력하세요.">
                            </div>
                        </form>
                  

                    </div>
                </div>

                <div class="row">
                    <div class="col-5 mt-2">   
                         <p style="font-weight:600;">2. 가산세율 </p>
                    </div>

                    <div class="col-4">                        
                        <div class="form-group">
                            {% comment %} <select class="custom-select">
                                <option selected="0">부정행위</option>
                                <option value="1">일반(부정행위 이외)</option>
                            </select> {% endcomment %}

                            <select class="form-control" id="select-taxrate">
                                <option>부정행위</option>
                                <option>일반(부정행위 이외)</option>
                            </select>
                        </div>
                        <p style="font-size:11px; color:grey;">국세기본법 제 47조의 2(무신고가산세) 제 1항</p>

                    </div>

                    <div class="col-2">   
                        <form>
                            <div class="form-group">
                                {% comment %} <label for="norepo_taxtobepaid"> 납부해야할 세액 (대상금액)</label> {% endcomment %}
                                <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" disabled="" placeholder="      -      %">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">   
                         <p style="font-weight:600;">3. 감면 </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 mt-2" >   
                         <p>법정신고기한(당초신고기한)</p>
                    </div>
                    <div class="col-4"> 
                        <div class="form-group"> 
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text"   class="form-control datetimepicker-input" data-target="#datetimepicker1" value="01/11/2020">
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div> 
                                </div> 
                            </div> 
                        </div>         
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 mt-2" >   
                         <p>실제 신고일자</p>
                    </div>
                    <div class="col-4"> 
                        <div class="form-group"> 
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest"> 
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" value="01/15/2020"> 
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 mt-2">   
                         <p style="font-weight:700;">감면내용 </p>
                    </div>

                    <div class="col-4">                        
                        <div class="form-group">
                            <select class="form-control" id="select-taxperiod">
                                <option>해당 없음</option>
                                <option>1개월 이내</option>
                                <option>1개월 초과 3개월 이내</option>
                                <option>3개월 초과 6개월 이내</option>
                            </select>
                        </div>
                        <p style="font-size:11px; color:grey;">국세기본법 제 48조 (가산세 감면 등) 제 2항 2호</p>
                    </div>

                    <div class="col-2">   
                        <form>
                            <div class="form-group">
                                {% comment %} <label for="norepo_taxtobepaid"> 납부해야할 세액 (대상금액)</label> {% endcomment %}
                                <input type="text" class="form-control" id="norepo_taxperiod" aria-describedby="emailHelp" disabled="" placeholder="      -      %">
                            </div>
                        </form>
                    </div>
                </div>      

                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary">예상가산세액 계산</button>
                    </div>
                </div>
                <br>  
                <hr>
                <div class="row">       
                    <div class="col-5 mt-2">   
                         <p style="font-weight:600;" class="text-info">예상 가산세액</p>
                    </div>

                    <div class="col-6">   
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" disabled="" placeholder="                                                                           원">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            










            <div class="col-3">       
                <h5>가산세/감면 기준</h5>
            </div>
        </div>







    </div>

    <script type="text/javascript"> $(function () { $('#datetimepicker1').datetimepicker({ format: 'L'}); $('#datetimepicker2').datetimepicker({ format: 'L', useCurrent: false }); $("#datetimepicker1").on("change.datetimepicker", function (e) { $('#datetimepicker2').datetimepicker('minDate', e.date); }); $("#datetimepicker2").on("change.datetimepicker", function (e) { $('#datetimepicker1').datetimepicker('maxDate', e.date); }); }); </script>



</body>
</html>

