<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=2, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />


    <title>무신고가산세 계산기</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">가산세계산기proto.v</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
            {% comment %} <li class="nav-item active">
                <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
                </a>
            </li> {% endcomment %}
            <li class="nav-item">
                <a class="nav-link" href="#">무신고가산세(기한후신고)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">과소신고·초과환급신고가산세(수정신고)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">계산이력</a>
            </li>    
            </ul>     
        </div>

    </nav>
          
    <div class ="container p-3 my-3 border">
        <div class="row">
            <div class="col-8">
                <br>
                <h3>무신고가산세(기한후신고)</h3>
                <P>납부해야할 세액과 일자를 입력하시면 최종 예상 가산세액은 자동 계산됩니다.</P>

            </div>           
        </div>
        <hr />
        
        <br>
       
        <div class ="row">   
            <div class="col-5">
                <div class ="container px-3 py-4 border">
                <form action = "" method = POST>
                    {% csrf_token %}

                    <h5>무신고 가산세 계산</h5>
                    <br>
                    
                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;">1. 납부해야할 세액 (대상금액) </p>
                        </div>

                        <div class="col-7">                             
                            <div class="form-group" >
                                <input type="text" class="form-control" id="norepo_tax_tobepaid" name="norepo_tax_tobepaid" aria-describedby="emailHelp" placeholder="납부해야할 세액(대상금액)을 입력하세요." value="{{norepo_tax_tobepaid}}">
                            </div>                                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;">2. 가산세율 </p>
                        </div>

                        <div class="col-4">                        
                            <div class="form-group">
                                {% comment %} <select class="custom-select">
                                    <option selected="0">부정행위</option>
                                    <option value="1">일반(부정행위 이외)</option>

                                     value="{{select_taxrate_item}}"
                                </select> {% endcomment %}

                                <select class="form-control" id="select_taxrate_item" name="select_taxrate_item" >
                                    <option value="부정행위">부정행위</option>
                                    <option value="일반(부정행위 이외)">일반(부정행위 이외)</option>
                                </select>           

                            </div>
                            <p style="font-size:11px; color:grey;">국세기본법 제 47조의 2(무신고가산세) 제 1항</p>
                        </div>
                        <div class="col-3">                           
                            <div class="form-group">
                                <input type="text" class="form-control" name="norepo_taxrate_tobepaid"  id="norepo_taxrate_tobepaid" aria-describedby="emailHelp" readOnly="" style = "text-align:right;" placeholder="             -            %" >
                            </div>                           
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">   
                            <p style="font-weight:600;">3. 감면 </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 mt-2" >   
                            <p>법정신고기한(당초신고기한)</p>
                        </div>
                        <div class="col-4"> 
                            <div class="form-group"> 
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input type="text"   class="form-control datetimepicker-input" id="datetimepicker1_input" data-target="#datetimepicker1" value="01/11/2021">
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </div> 
                                    </div> 
                                </div> 
                            </div>         
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 mt-2" >   
                            <p>실제 신고일자</p>
                        </div>
                        <div class="col-4"> 
                            <div class="form-group"> 
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest"> 
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" value="01/15/2021"> 
                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:700;">감면내용 </p>
                        </div>

                        <div class="col-4">                        
                            <div class="form-group">
                                <select class="form-control" id="select-taxperiod">
                                    <option>해당 없음</option>
                                    <option>1개월 이내</option>
                                    <option>1개월 초과 3개월 이내</option>
                                    <option>3개월 초과 6개월 이내</option>
                                </select>
                            </div>
                            <p style="font-size:11px; color:grey;">국세기본법 제 48조 (가산세 감면 등) 제2항 2호</p>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                {% comment %} <label for="norepo_taxtobepaid"> 납부해야할 세액 (대상금액)</label> {% endcomment %}
                                <input type="text" class="form-control" id="norepo_taxperiod" aria-describedby="emailHelp" readOnly="" style = "text-align:right;" placeholder="             -            %">
                            </div>
                        </div>
                    </div>      

                    <div class="row">
                        <div class="col-9">
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">예상가산세액계산</button>
                        </div>
                    </div>
                    <br>  
                    <hr>
                    <div class="row">       
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;" class="text-info">예상 가산세액</p>
                        </div>

                        <div class="col-7">                           
                            <div class="form-group">
                                <input type="text" class="form-control" id="norepo_finaltax" name="norepo_finaltax" aria-describedby="emailHelp" readOnly="" style = "text-align:right;" placeholder="원" value="{{norepo_finaltax}} 원">

                            </div>                        
                        </div>
                    </div>
                </form>
                </div>       


                <br>
                <br>
                
                <div class ="container px-3 py-4 border">       
                    <h5>납부지연 가산세 계산</h5>
                    <br>
                    
                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;">1. 납부해야할 세액 (대상금액) </p>
                        </div>

                        <div class="col-7">   
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" placeholder="납부해야할 세액(대상금액)을 입력하세요.">
                                </div>
                            </form>
                    

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;">2. 미납부 일수 </p>
                        </div>                 

                        <div class="col-5">   
                            <form>
                                <div class="form-group">
                                    {% comment %} <label for="norepo_taxtobepaid"> 납부해야할 세액 (대상금액)</label> {% endcomment %}
                                    <input type="text" style = "text-align:right;" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" readOnly="" placeholder="일">
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-5 mt-2" >   
                            <p>법정신고기한(당초신고기한)</p>
                        </div>
                        <div class="col-4"> 
                            <div class="form-group"> 
                                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                    <input type="text"   class="form-control datetimepicker-input" data-target="#datetimepicker3" value="01/11/2020">
                                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </div> 
                                    </div> 
                                </div> 
                            </div>         
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 mt-2" >   
                            <p>실제 납부일자</p>
                        </div>
                        <div class="col-4"> 
                            <div class="form-group"> 
                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest"> 
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" value="01/15/2020"> 
                                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:700;">3. 이자율</p>
                        </div>

                        <div class="col-3">                        
                            <div class="form-group">
                                <select class="form-control" id="select-taxratedelayed">
                                    <option>10만분의 25</option>
                                    <option>1만분의 3</option>                            
                                </select>
                            </div>
                        </div>

                        <div class="col-4">   
                            <form>
                                <div class="form-group">
                                    {% comment %} <label for="norepo_taxtobepaid"> 납부해야할 세액 (대상금액)</label> {% endcomment %}
                                    <input type="text" class="form-control" id="norepo_taxperiod" aria-describedby="emailHelp" readOnly=""  style = "text-align:right;" placeholder="             -                    %">
                                </div>
                                <p style="font-size:11px; color:grey;">2019년 신고·부과하는 분부터 10만분의 25적용</p>

                            </form>
                        </div>
                    </div>      

                    <div class="row">
                        <div class="col-9">
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary">예상가산세액계산</button>
                        </div>
                    </div>
                    <br>  
                    <hr>
                    <div class="row">       
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;" class="text-info">예상 가산세액</p>
                        </div>

                        <div class="col-7">   
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" readOnly="" placeholder="                                                                                      원">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>       

                <br>
                <div class="form-row float-right">

                    <button type="button" class="btn btn-success" >초기화</button>
                </div>
                <br>
             
                <br>


                <div class ="container px-3 py-4 border">       
                    <h5>최종 예상 가산세 계산</h5>
                    <br>
                    
                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;">1. 무신고 가산세</p>
                        </div>

                        <div class="col-7">   
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" readOnly=""  style = "text-align:right;" placeholder="원">
                                </div>
                            </form>
                    

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;">2. 납부지연 가산세</p>
                        </div>

                        <div class="col-7">   
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" readOnly=""  style = "text-align:right;" placeholder="원">
                                </div>
                            </form>
                    

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-5 mt-2">   
                            <p style="font-weight:600;" class="text-info">가산세 합계</p>
                        </div>               

                        <div class="col-7">   
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="norepo_taxtobepaid" aria-describedby="emailHelp" readOnly=""  style = "text-align:right;" placeholder="원">
                                </div>
                            </form>                   

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-3"> 
                <div class ="container px-3 py-4 border">
                    <h5>가산세/감면 기준</h5>
                    <br>
                    <P>가산세 기준</P>

                    <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">항목</th>
                        <th scope="col">세율</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">부정행위</th>
                        <td>40%</td>
                        </tr>
                        <tr>
                        <th scope="row">일반(부정행위 이외)</th>
                        <td>20%</td>
                        </tr>
                  
                    </tbody>
                    </table>

                    <br>
                    <P>감면 기준</P>

                    <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">감면 기간</th>
                        <th scope="col">감면 기한 일자</th>
                        <th scope="col">감면율</th>
                        </tr>
                    </thead>
                    <tbody>                 
                        <tr>
                        <th scope="row">가. 1개월 이내</th>
                        <td></td>
                        <td>50%</td>
                        </tr>

                        <tr>
                        <th scope="row">나. 1개월 초과 3개월 이내</th>
                        <td></td>
                        <td>30%</td>
                        </tr>

                        <tr>
                        <th scope="row">다. 3개월 초과 6개월 이내</th>
                        <td></td>
                        <td>20%</td>
                        </tr>
                                  
                  
                    </tbody>
                    </table>
                    <p style="font-size:11px; color:grey;">※2020년 1월 1일 이후 수정신고분 부터 적용</p>

                </div>
            </div> 
        </div>
    </div>

    <script type="text/javascript"> 
        setValue()

        $(function () {
            $('#datetimepicker1').datetimepicker({ format: 'L', useCurrent: false});
            $('#datetimepicker2').datetimepicker({ format: 'L', useCurrent: false});
            $('#datetimepicker3').datetimepicker({ format: 'L', useCurrent: false}); 
            $('#datetimepicker4').datetimepicker({ format: 'L', useCurrent: false}); 

            $("#datetimepicker1").on("change.datetimepicker", function (e) { $('#datetimepicker2').datetimepicker('minDate', e.date); }); 
            $("#datetimepicker2").on("change.datetimepicker", function (e) { $('#datetimepicker1').datetimepicker('maxDate', e.date); }); 
            $("#datetimepicker3").on("change.datetimepicker", function (e) { $('#datetimepicker4').datetimepicker('minDate', e.date); }); 
            $("#datetimepicker4").on("change.datetimepicker", function (e) { $('#datetimepicker3').datetimepicker('maxDate', e.date); }); 
        }); 

        if (document.getElementById('select_taxrate_item').value == "부정행위") {
            document.getElementById('norepo_taxrate_tobepaid').value = "40%"                                
        } else{
            document.getElementById('norepo_taxrate_tobepaid').value = "20%"
        } 


        document.getElementById('select_taxrate_item').onclick = function(){

            if (document.getElementById('select_taxrate_item').value == "부정행위") {
                document.getElementById('norepo_taxrate_tobepaid').value = "40%" 

            } else{
                document.getElementById('norepo_taxrate_tobepaid').value = "20%"                
            }
            populateStorage()

        }
      

        // detect storage support
        {% comment %} (function() {
            var storageAvailable = (type) => {
                try {
                    var storage = window[type],
                        x = '__storage_test__'
                    storage.setItem(x, x)
                    storage.removeItem(x)
                    return true
                } catch (e) {
                    return e instanceof DOMException && (
                        e.code === 22 ||                               // All web browsers except Firefox
                        e.code === 1014 ||                             // Firefox
                        e.name === 'QuotaExceededError' ||             // All web browsers except Firefox
                        e.name === 'NS_ERROR_DOM_QUOTA_REACHED')       // firefox
                        && storage.length !== 0
                }
            }
            if (storageAvailable('localStorage')) {
                console.log("localstorage support")
            } else {
                console.log("localstorage do not support")
            }
        })() {% endcomment %}

        //setValue()
        
        function populateStorage() {
            sessionStorage.setItem('norepo_tax_tobepaid', document.getElementById('norepo_tax_tobepaid').value)
            sessionStorage.setItem('select_taxrate_item', document.getElementById('select_taxrate_item').value)

            sessionStorage.setItem('select_taxrate_item', document.getElementById('select_taxrate_item').value)
            sessionStorage.setItem('select_taxrate_item', document.getElementById('select_taxrate_item').value)



        }

        function setValue() {
            document.getElementById('norepo_tax_tobepaid').value = sessionStorage.getItem('norepo_tax_tobepaid')
            document.getElementById('select_taxrate_item').value = sessionStorage.getItem('select_taxrate_item')

            document.getElementById('select_taxrate_item').value = sessionStorage.getItem('select_taxrate_item')
            document.getElementById('select_taxrate_item').value = sessionStorage.getItem('select_taxrate_item')



        }

        //select_taxrate_item_selector.onchange = populateStorage



        {% comment %} 
        var colorEl = document.getElementById('colorEl')
        var fontEl = document.getElementById('fontEl')
        var colorSelector = document.getElementById('colorSelector')
        var fontSelector = document.getElementById('fontSelector')

        if (!localStorage.getItem('color')) {
            populateStorage()
        } else {
            setStyle()
        }

        function populateStorage() {
            localStorage.setItem('color', colorSelector.value)
            localStorage.setItem('fontStyle', fontSelector.value)
            setStyle()

        }

        function setValue() {


            var currentColor = localStorage.getItem('color')
            var currentFontStyle = localStorage.getItem('fontStyle')
            colorSelector.value = currentColor
            fontSelector.value = currentFontStyle
            colorEl.style.backgroundColor = currentColor
            fontEl.style.fontFamily = currentFontStyle
        }

        colorSelector.onchange = populateStorage
        fontSelector.onchange = populateStorage {% endcomment %}


    </script>
    

</body>
</html>

